fastapi==0.100.0
fastapi-utils==0.2.1
colorama==0.4.6
grpcio-tools==1.56.0
httpx==0.24.1
pydantic[email]==1.10.11
pytz==2023.3
requests~=2.31.0
slowapi==0.1.8
uvicorn==0.22.0
werkzeug~=2.3.6
attrs~=23.1.0
toml~=0.10.2
wheel~=0.40.0
setuptools~=68.0.0
starlette~=0.27.0
python-dotenv==1.0.0
motor==3.2.0
tweepy==4.14.0
pyTelegramBotAPI
